In [16]:
with open(r'D:\Data Science\udemy\Notebooks\18-Naive-Bayes-and-NLP\One.txt') as f:
    word_one = f.read().lower().split()
    uni_words1 = set(word_one)

In [17]:
with open(r'D:\Data Science\udemy\Notebooks\18-Naive-Bayes-and-NLP\Two.txt') as f:
    word_two = f.read().lower().split()
    uni_words2 = set(word_two)

In [18]:
print(uni_words1)

{'story', 'is', 'this', 'are', 'pets', 'about', 'furry', 'animals', 'canine', 'a', 'our', 'dogs'}

In [19]:
print(uni_words2)

{'water', 'story', 'is', 'this', 'surfing', 'catching', 'popular', 'about', 'waves', 'sport', 'fun', 'a'}

In [20]:
uni_words = set()
uni_words.update(uni_words1) 
uni_words.update(uni_words2)

In [21]:
uni_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [23]:
full_vocab = dict()
i = 0
for words in uni_words:
    full_vocab[words] = i
    i = i + 1

In [24]:
full_vocab

{'is': 0,
 'catching': 1,
 'are': 2,
 'pets': 3,
 'about': 4,
 'animals': 5,
 'sport': 6,
 'canine': 7,
 'our': 8,
 'dogs': 9,
 'water': 10,
 'story': 11,
 'surfing': 12,
 'this': 13,
 'popular': 14,
 'furry': 15,
 'waves': 16,
 'fun': 17,
 'a': 18}

In [25]:
one_freq = [0] * len(full_vocab)
two_freq = [0] * len(full_vocab)
all_words = ['']*len(full_vocab)

In [26]:
two_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [27]:
with open(r'D:\Data Science\udemy\Notebooks\18-Naive-Bayes-and-NLP\One.txt') as f:
    word_one = f.read().lower().split()

In [29]:
word_one

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [34]:
for word in word_one:
    word_ind = full_vocab[word]
    one_freq[word_ind] += 1

In [35]:
one_freq

[1, 0, 1, 1, 1, 1, 0, 1, 1, 2, 0, 1, 0, 1, 0, 1, 0, 0, 1]

In [37]:
with open(r'D:\Data Science\udemy\Notebooks\18-Naive-Bayes-and-NLP\Two.txt') as f:
    word_two = f.read().lower().split()

In [39]:
word_two

['this',
 'story',
 'is',
 'about',
 'surfing',
 'catching',
 'waves',
 'is',
 'fun',
 'surfing',
 'is',
 'a',
 'popular',
 'water',
 'sport']

In [40]:
for word in word_two:
    word_ind = full_vocab[word]
    two_freq[word_ind] += 1

In [41]:
two_freq

[3, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 2, 1, 1, 0, 1, 1, 1]

In [42]:
for word in full_vocab:
    word_ind = full_vocab[word]
    all_words[word_ind] = word

In [43]:
all_words

['is',
 'catching',
 'are',
 'pets',
 'about',
 'animals',
 'sport',
 'canine',
 'our',
 'dogs',
 'water',
 'story',
 'surfing',
 'this',
 'popular',
 'furry',
 'waves',
 'fun',
 'a']

In [46]:
import pandas as pd
bow = pd.DataFrame(data=[one_freq, two_freq], columns = all_words)

In [47]:
bow

,is,catching,are,pets,about,animals,sport,canine,our,dogs,water,story,surfing,this,popular,furry,waves,fun,a
0,1,0,1,1,1,1,0,1,1,2,0,1,0,1,0,1,0,0,1
1,3,1,0,0,1,0,1,0,0,0,1,1,2,1,1,0,1,1,1